.touch-container{
    padding: 0 0 50px;
    flex: 0 0 100%;
    max-width: 100%;
}

.uppercase{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.touch-view{
    padding: 30px 25px;
    margin: auto;
    position: relative;
}

.touch-view__save{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px;
    background-color: #08c;
    border-bottom-left-radius: 15px;
}

.touch-view__name{
    font-family: 'Montserrat';
    padding: 9px 15px;
    color: #fff;
    background: #08c;
    border: 1px solid #fff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
    outline: none;
    transition: all 0.2s;
    display: inline-block;
    margin: 0 15px 0 0;
    width: 244px;
}

.touch-view__name:focus{
    /*border-bottom: 2px solid #08c;*/
}
.touch-view__name::placeholder {
  color: #fff;
}

.form-create-touch__color{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: cover!important;
    border: 1px solid #fff;
    vertical-align: middle;
}

/*.form-create-touch__item{*/
/*    padding-bottom: 10px;*/
/*}*/

.form-create-touch__item label{
    padding-right: 15px;
    color: #fff;
}

.form-create-touch__num{
    width: 50px;
    height: 50px;
    border: 2px solid #009fe3;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arvo;
    color: #fff;
    margin-right: 15px;
}

.color-touch input{
    display: none;
}

.color-touch__container{
    margin-bottom: 25px;
}

.color-touch{
    flex: 0 0 25%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 1.3;
    padding-right: 15px;
    margin-bottom: 15px;
}
.color-touch span{
    margin-top: 5px;
    display: block;
    max-width: 70px;
}

.color-touch input:checked + .form-create-touch__color{
    border: 1px solid #009fe3;
}

.color-touch input:checked ~ span{
    color: #009fe3;
}

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{    
    justify-content: space-between;
}

.align-start{
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.touch-preview{
    width: 244px;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*border: 2px solid #929292;*/
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
    margin: 0 auto;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.touch-preview.glanec:after{
    position: absolute;
    z-index: 8;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .1))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.4, rgba(255, 255, 255, .1)), color-stop(0.6, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));*/
    /*background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .1)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0));*/
    /*background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .1)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0));*/
}

.touch-preview__img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__img{
    max-width: 150%;
    width: 150%;
}

.addToCollection__button{
    padding: 10px 20px;
    border: 1px solid #009fe3;
    border-radius: 3px;
    background: #009fe3;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
    display: inline-block;
}

.addToCollection__button span:nth-child(2){
    display: none;
}

.addToCollection__button.updateItem span:nth-child(2){
    display: block;
}

.addToCollection__button.updateItem span:nth-child(1){
    display: none;
}

.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__img{
    max-width: 200%;
    width: 200%;
}

.touch-preview[data-linecolor='gold'] .touch-preview__item{
    border-color: #FEDC6F!important;
}


/* 1 touch */

.touch-preview[data-series='series-80'][data-count-sensor='1'], .touch-preview[data-series='series-80'][data-count-sensor='2'], .touch-preview[data-series='series-80'][data-count-sensor='4'] {
    width: 244px;
    height: 244px;
}

.touch-preview[data-count-sensor='1'] .touch-preview__item{
    padding-bottom: 140px;
    padding-right: 182px;
}

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item{
    padding-right: 182px;
}

.touch-preview[data-series='series-85'][data-count-sensor='1'], .touch-preview[data-series='series-85'][data-count-sensor='2'], .touch-preview[data-series='series-85'][data-count-sensor='4']  {
    width: 260px;
    height: 260px;
    padding: 8px;
}

.touch-preview[data-series='series-90'][data-count-sensor='1'], .touch-preview[data-series='series-90'][data-count-sensor='2'], .touch-preview[data-series='series-90'][data-count-sensor='4']  {
    width: 276px;
    height: 276px;
    padding: 16px;
}

.touch-preview.horizontal[data-series='series-80'][data-count-sensor='6']{
    padding: 0px;
    width: 367px;
}

.touch-preview:not(.horizontal)[data-series='series-80'][data-count-sensor='6']{
    padding: 0px;
    width: 244px;
}

.touch-preview.horizontal[data-series='series-85'][data-count-sensor='6']{
    padding: 8px;
    width: 384px;
}

.touch-preview:not(.horizontal)[data-series='series-85'][data-count-sensor='6']{
    padding: 8px;
    width: 260px;
}

.touch-preview.horizontal[data-series='series-80'][data-count-sensor='8']{
    padding: 0px;
    width: 492px;
}

.touch-preview:not(.horizontal)[data-series='series-80'][data-count-sensor='8']{
    padding: 0px;
    width: 244px;
}

.touch-preview.horizontal[data-series='series-85'][data-count-sensor='8']{
    padding: 8px;
    width: 508px;
}

.touch-preview:not(.horizontal)[data-series='series-85'][data-count-sensor='8']{
    padding: 8px;
    width: 260px;
}

.touch-preview.horizontal[data-series='series-90'][data-count-sensor='8']{
    padding: 16px;
    width: 524px;
}

.touch-preview:not(.horizontal)[data-series='series-90'][data-count-sensor='8']{
    padding: 16px;
    width: 276px;
}

.touch-preview[data-count-sensor='1'] .touch-preview__item{
    width: 240px;
    height: 240px;
    display: none;
}

.icon-shifr[data-count-sensor='1'] tr:nth-child(1) td:nth-child(2), .icon-shifr[data-count-sensor='1'] tr:nth-child(3),.icon-shifr[data-count-sensor='1'] tr:nth-child(2),.icon-shifr[data-count-sensor='1'] tr:nth-child(4){
    display: none;
}

.touch-preview[data-count-sensor='1'] .touch-preview__item:nth-child(1){
    display: flex;
    flex: 0 0 99%;
}

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(1), .touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(2){
    flex: 0 0 98%;
}

.touch-preview.horizontal[data-count-sensor='8']{
    width: 492px;
}

.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item{
    flex: 0 0 25%;
}

.touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item{
    flex: 0 0 33.3%;
}

.touch-preview.horizontal[data-count-sensor='6']{
    width: 368px;
}

.touch-preview[data-count-sensor='2'] .touch-preview__item{
    width: 122px;
    height: 244px;
    display: none;
}

.touch-preview[data-count-sensor='2'] .touch-preview__item:nth-child(1), .touch-preview[data-count-sensor='2'] .touch-preview__item:nth-child(2){
    display: flex;
    flex: 0 0 50%;
}

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item{
    width: 242px;
    height: 122px;
    display: none;
}

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(1), .touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(2){
    display: flex;
    flex: 0 0 100%;
}

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item{
    
}

.icon-shifr[data-count-sensor='2'] tr:nth-child(3), .icon-shifr[data-count-sensor='2'] tr:nth-child(2), .icon-shifr[data-count-sensor='2'] tr:nth-child(4){
    display: none;
}
.icon-shifr[data-count-sensor='4'] tr:nth-child(3), .icon-shifr[data-count-sensor='4'] tr:nth-child(4){
    display: none;
}
.icon-shifr[data-count-sensor='6'] tr:nth-child(4){
    display: none;
}



.touch-preview[data-count-sensor='4'] .touch-preview__item{
    display: none;
}

.touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(1), .touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(2), .touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(3), .touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(4){
    display: flex;
    flex: 0 0 50%;
}

/*Borders style*/

.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(1){
    border-bottom: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='2'] .touch-preview__item:nth-child(2){
    border-top: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='2'] .touch-preview__item:nth-child(1){
    border-right: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='2'] .touch-preview__item:nth-child(2){
    border-left: 1px solid #929292;
}

.touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(1){
    border-bottom: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(2){
    border-bottom: 1px solid #929292;
    border-left: 1px solid #929292;
}
.touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(3){
    border-top: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview[data-count-sensor='4'] .touch-preview__item:nth-child(4){
    border-top: 1px solid #929292;
    border-left: 1px solid #929292;
}

/*8 touch*/
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(1), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(1){
    border-bottom: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(2), .touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(3), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(2){
    border-left: 1px solid #929292;
    border-bottom: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(4), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(3){
    border-bottom: 1px solid #929292;
    border-left: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(5), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(4){
    border-top: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(6), .touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(7), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(5){
    border-left: 1px solid #929292;
    border-top: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview.horizontal[data-count-sensor='8'] .touch-preview__item:nth-child(8), .touch-preview.horizontal[data-count-sensor='6'] .touch-preview__item:nth-child(6){
    border-top: 1px solid #929292;
    border-left: 1px solid #929292;
}
/*8 touch*/
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(1), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(1){
    border-bottom: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(2), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(2){
    border-bottom: 1px solid #929292;
    border-left: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(3), .touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(5), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(3){
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(4), .touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(6), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(4){
    border-top: 1px solid #929292;
    border-bottom: 1px solid #929292;
    border-left: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(7), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(5){
    border-top: 1px solid #929292;
    border-right: 1px solid #929292;
}
.touch-preview:not(.horizontal)[data-count-sensor='8'] .touch-preview__item:nth-child(8), .touch-preview:not(.horizontal)[data-count-sensor='6'] .touch-preview__item:nth-child(6){
    border-top: 1px solid #929292;
    border-left: 1px solid #929292;
}

.touch-preview[data-count-sensor='6'] .touch-preview__item:nth-child(7), 
.touch-preview[data-count-sensor='6'] .touch-preview__item:nth-child(8){
    display: none;
}

.icon-shifr.eight-horizontal-table, .icon-shifr.six-horizontal-table{
    display: none;
}

.icon-shifr.horizontal.eight-horizontal-table[data-count-sensor='8']{
    display: block;
}

.icon-shifr.horizontal.six-horizontal-table[data-count-sensor='6']{
    display: block;
}

.not-horizontal-block.horizontal[data-count-sensor='6'], .not-horizontal-block.horizontal[data-count-sensor='8']{
    display: none;
}

.touch-preview__item{
    flex: 0 0 50%;
    width: 122px;
    height: 122px;
    margin: 0;
    z-index: 9;
    position: relative;
    /*border: 1px solid #000;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: center;
    padding-bottom: 55px;
    padding-right: 55px;
}

.touch-preview__item .icon{
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    cursor: pointer;
    transition: all 0.3s;
}

.touch-preview__item .icon[style="background: url('img/add.png')"] {
    width: 30px;
    height: 30px;
}

.touch-preview__item .icon:hover{
    opacity: 0.5
}

.invert-color .touch-preview__item{
    border-color: rgba(255, 255, 255, .8);
}
.order-sensor-touch-full{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    min-width: 1000px;
}
.border-blue{
    border: 1px solid #009fe3;
    flex: 0 0 100%;
    margin-bottom: 40px;
}
.order-sensor-touch{
    text-align: center;
    padding: 25px 0 0 15px;
    flex: 0 0 45%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 25px
}

.order-sensor-touch span{
    font-weight: bold;
}

.order-sensor-touch p{
    font-size: 16px;
    margin: 5px 0;
    color: #000;
}

.order-sensor-touch h3{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.touch-count{
    padding: 8px 10px;
    color: #fff;
    background: #1f1f1f;
    border: 1px solid #fff;
    outline: none;
}

.touching-container{
    position: relative;  
    padding: 0 15px;
    flex-wrap: wrap;
    color: #000;
}

.select-icon{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 99;
    
}

.select-icon__list{
    display: block;
    padding: 25px;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 675px;
    position: relative;
    flex-wrap: wrap;
    z-index: 999;
}

.half-block-flex:nth-child(1){
    flex: 0 0 40%;
    max-width: 40%;
}
.half-block-flex:nth-child(2){
    flex: 0 0 60%;
    max-width: 60%;
}

.select-icon__item{
    /*width: 50px;*/
    /*height: 50px;*/
    border: 1px solid #fff;
    margin: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.select-icon__item img{
    max-width: 80%;
    max-height: 50px;
}

.select-icon__close{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    color: #666;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.button-save{
    background: #009fe3;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 0;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.button-save:hover{
    opacity: 0.7;
}

#screen{
    display: none;
}

.icon-shifr{
    display: block;
    border: 1px solid #000;
    padding: 3px;
}
.icon-shifr img{
    max-width: 25px;
    max-height: 25px;
}
.icon-shifr td{
    border: 1px solid #000;
    margin: 3px;
    padding: 5px 15px;
    font-size: 12px;
}

/*.form-create-touch{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    margin-bottom: 10px;*/
/*    margin-top: 10px;*/
/*}*/

.form-create-touch__setting-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    flex: 0 0 50px;
    min-width: 50px;
}

.form-create-touch__buttons{
    padding: 15px 0;
    margin-bottom: 10px;
}

.form-create-touch__button-reset{
    padding: 10px 20px;
    border: 1px solid #009fe3;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}
.form-create-touch__button-reset:hover{
    background-color: #007eb1;
}
.form-create-touch__button-save:hover{
    background-color: #007eb1;
}

.form-create-touch__button-save{
    padding: 10px 20px;
    border: 1px solid #009fe3;
    border-radius: 3px;
    background: #009fe3;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

.collection-library__container{
    padding: 15px;
    flex: 0 0 100%;
}

.collection-library__container h3{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.collection-library{
    display: flex;
    flex-wrap: wrap;
}

.collection-library__element{
    flex: 0 0 25%;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.collection-library__element h4{
    text-align: center;
    font-family: Arvo;
}
.collection-library__element h5{
    text-align: center;
    font-family: Arvo;
    margin-top: 5px;
}

.collection-library__item{
    display: inline-flex;
    flex-wrap: wrap;    
    border: 1px solid #333;
    cursor: pointer;
    background-size: cover;
}

.collection-library__item[data-countTouch="1"]{
    width: 102px;
    height: 102px;
}
.collection-library__item[data-countTouch="1"] .collection-library__touch{
    width: 100px;
    height: 102px;
    flex: 0 0 100px;
}

.collection-library__item[data-countTouch="2"][data-orientation="v"], .collection-library__item[data-countTouch="2"][data-orientation="h"]{
    width: 102px;
}
.collection-library__item[data-countTouch="2"][data-orientation="v"] .collection-library__touch{
    height: 100px;
}
.collection-library__item[data-countTouch="2"][data-orientation="h"] .collection-library__touch{
    width: 100px;
    flex: 0 0 100px;
}
.collection-library__item[data-countTouch="4"][data-orientation="v"], .collection-library__item[data-countTouch="4"][data-orientation="h"]{
    width: 102px;
}
.collection-library__item[data-countTouch="6"][data-orientation="h"]{
    width: 152px;
}
.collection-library__item[data-countTouch="6"][data-orientation="v"]{
    width: 102px;
}
.collection-library__item[data-countTouch="8"][data-orientation="h"]{
    width: 202px;
}
.collection-library__item[data-countTouch="8"][data-orientation="v"]{
    width: 102px;
}

.collection-library__touch{
    border: 1px solid #333;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.collection-library__touch img{
    width: 50px;
}

@media screen and (max-width: 767px){
    .touching-container{
        flex-wrap: wrap;
    }
    .touch-container, .touch-view{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .color-touch{
        flex: 0 0 50%;
        padding-right: 5px;
    }
    .touch-view{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
}





